exportPattern("^[[:alpha:]]+")
# Import required packages:
import(stats)
import(sas7bdat)
import(mice) 
#Export R-functions:
export(prepare_data)
export(spm_quick_MD)
export(spm_integral_1D)
export(testMatrixMultiply)
export(testMatrixAdd)
export(testMatrixMultiplyByConst)
export(testPowerMatrix)
export(spm_integral_MD)
export(simdata_cont)
export(simdata_cont_MD)
export(simdata_discr_MD)
export(spm_time_dep)
export(simdata_time_dep)
useDynLib(spm)
importFrom(Rcpp, sourceCpp)

