exportPattern("^[[:alpha:]]+")
# Import required packages:
importFrom("stats")
importFrom("Rcpp")
importFrom("sas7bdat")
importFrom("mice") 
importFrom("tools")
importFrom("nloptr")
importFrom("RcppArmadillo")
#Export R-functions:
export(prepare_data)
export(spm_discrete)
export(spm_continuous)
export(spm_continuous_1D)
export(simdata_cont_1D)
export(simdata_cont)
export(simdata_discr)
export(spm_time_dep)
export(simdata_time_dep)
export(spm_discrete2)
useDynLib(spm)
